<footer class="footer-wrapper" style="background-color: {{ section.settings.color_footer_bg }}; color: {{ section.settings.color_footer_text }}">
    <div class="container">
        <div class="upper-footer">
            {% for block in section['block_order'] %}
                {% unless section['block_order'] == blank %}
                {% block %}
                {% endunless %}
            {% endfor %}
        </div>
        <div class="bottom-footer">
            <p>&copy; {{ 'now' | date: "%Y" }} {{ section.settings.copyright_text }}</p>
            <div class="bottom-menu">
               <ul style="color:{{ section.settings.bottom_text_color }};">
                {% for item in menus[section.settings.bottom_menu].menu_items %}
                <li>
                    <a href="{{ item.link }}">
                    {% if item.image != blank %}
                      <img src="{{ item.image }}" alt="{{ item.name}}" width="20" height="20">
                    {% endif %}
                    {{ item.name }}
                    
                    {% if item.description != blank %}
                      - {{ item.description }}
                    {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</footer>

<script>
let accordionComponent = () => {
    let accordion = document.querySelectorAll(".panel-header");
    accordion.forEach(element => {
        if (element.classList.contains('active')) {
            let panel = element.nextElementSibling;
            panel.style.maxHeight = panel.scrollHeight + "px";
        }

        element.addEventListener('click', function() {
            this.classList.toggle("active");
            let panel = this.nextElementSibling;
            if (panel.style.maxHeight) {    
                panel.style.maxHeight = null;
            }
            else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    });
}    
document.addEventListener('DOMContentLoaded', accordionComponent);    
</script>

<style>
.footer-wrapper {
    padding: 3.5rem 0 1rem;
}

.footer-wrapper h3 {
    margin-bottom: 1.3rem;
}

.footer-wrapper ul {
    list-style: none;
}

.footer-wrapper li {
    margin-bottom: .5rem;
    font-size: 1.1rem;
}

.footer-wrapper a {
    text-decoration: none;
}

.footer-wrapper a:hover {
    text-decoration: underline;
}

.footer-wrapper .contact img {
    margin-bottom: 2rem;
}

.footer-wrapper .contact p {
    line-height: 1.5rem;
}

.footer-wrapper .upper-footer {
    display: flex;
    flex-direction: column;
}

.footer-wrapper .upper-footer > div {
    padding: 1.5rem 0;
}

.footer-wrapper .upper-footer .link-list.link-list {
    padding: 0;
}

.footer-wrapper .bottom-footer,
.footer-wrapper .bottom-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-wrapper .bottom-footer p {
    margin-bottom: 1rem;
}

.footer-wrapper .bottom-menu ul {
    display: flex;
}

.footer-wrapper .bottom-menu li {
    margin-bottom: .7rem;
}

.footer-wrapper .bottom-menu a {
    font-size: 1rem;
    margin-left: 0;
}

.footer-wrapper .link-list:first-child {
    margin-top: 1.5rem;
}

.footer-wrapper .link-list:last-child {
    margin-bottom: 1.5rem;
}

.footer-wrapper .link-list .panel-header {
    padding: 1rem 0;
    border-bottom: 1px solid #cdcdcd;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper .link-list .panel-header i:first-child,
.footer-wrapper .link-list .panel-header.active i:last-child {
    display: block;
}

.footer-wrapper .link-list .panel-header i:last-child,
.footer-wrapper .link-list .panel-header.active i:first-child{
    display: none;
}

.footer-wrapper .link-list .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.footer-wrapper .panel ul li:first-child {
    margin-top: 1rem;
}

.footer-wrapper .link-list h3 {
    margin-bottom: 0;
}

.footer-wrapper .social > div {
    display: flex;
}

.footer-wrapper .social a {
    margin-right: .7rem;
}

.footer-wrapper .social a:hover {
    filter: brightness(0.8);
}

.footer-wrapper .social a[title="col_header"],
.footer-wrapper .social a[title="icon_color"] {
    display: none;
}

.icon {
    background-color: #555555;
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}

.icon-facebook {
    mask: url('{{ 'facebook-icon.svg' | image_url }}') no-repeat;
    -webkit-mask: url('{{'facebook-icon.svg' | image_url }}') no-repeat;
}

.icon-twitter {
    mask: url(twitter-icon.svg) no-repeat;
    -webkit-mask: url('{{'twitter-icon.svg' | image_url }}') no-repeat;
}

.icon-instagram {
    mask: url(instagram-icon.svg) no-repeat;
    -webkit-mask: url('{{'instagram-icon.svg' | image_url }}') no-repeat;
}

.icon-pinterest {
    mask: url(pinterest-icon.svg) no-repeat;
    -webkit-mask: url('{{'pinterest-icon.svg' | image_url }}') no-repeat;
}

.icon-linkedin {
    mask: url(linkedin-icon.svg) no-repeat;
    -webkit-mask: url('{{'linkedin-icon.svg' | image_url }}') no-repeat;
}

.icon-tumblr {
    mask: url(tumblr-icon.svg) no-repeat;
    -webkit-mask: url('{{'tumblr-icon.svg' | image_url }}') no-repeat;
}

.plus-icon {
    display: block;
    mask: url('{{'plus-icon.svg' | image_url }}') no-repeat;
    -webkit-mask: url('{{'plus-icon.svg' | image_url }}') no-repeat;
}

.minus-icon {
    display: block;
    mask: url('{{'minus-icon.svg' | image_url }}') no-repeat;
    -webkit-mask: url('{{'minus-icon.svg' | image_url }}') no-repeat;
}

@media (min-width: 1024px) {
    .footer-wrapper .upper-footer {
        margin-bottom: 5rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1.5rem;
    }
    
    .footer-wrapper .link-list .panel-header.panel-header {
        padding: 0;
        border: none;
    }
    
    .footer-wrapper .link-list .panel-header .icon.icon {
        display: none;
    }
    
    .footer-wrapper .upper-footer > div {
        padding: 0;
        margin-bottom: 1.5rem;
    }
    
    .footer-wrapper .bottom-footer,
    .footer-wrapper .bottom-menu ul {
        flex-direction: row;
    }
    
    .footer-wrapper .bottom-footer {
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-wrapper .bottom-menu a:last-child {
        margin-left: 1rem;
    }
    
    .footer-wrapper .link-list .panel {
        max-height: inherit;
        overflow: visible;
    }
    
    .footer-wrapper .panel ul li:first-child {
        margin-top: 0;
    }
    
    .footer-wrapper .link-list h3 {
        margin-bottom: 1.3rem;
    }
    
    .caret-icon {
        display: none;
    }
}

</style>

{% schema %}
{
    "name": "Footer",
    "max_blocks": 4,
    "settings": [
        {
            "type": "header",
            "content": "Color"
        },
        {
            "type": "text",
            "id": "copyright_text",
            "label": "Copyright Text"
        },
        {
            "type": "color",
            "id": "color_footer_bg",
            "label": "Background Color",
            "default": "#CCCCCC"
        },
        {
            "type": "color",
            "id": "color_footer_text",
            "label": "Text Color",
            "default": "#000000"
        },
        {
            "type": "link_list",
            "id": "bottom_menu",
            "label": "Bottom Menu"
        },
        {
            "type": "color",
            "id": "bottom_text_color",
            "label": "Link Color"
        }
    ],
    "blocks": [
         {
            "type": "contact",
            "name": "Contact"
        },
        {
            "type": "link_list",
            "name": "Menu"
        },
        {
            "type": "social",
            "name": "Social"
        },
        {
            "type": "text",
            "name": "Text"
        }
    ]
}
{% endschema %}