<div class="text">
    <p>{{ block.text }}</p> 
</div>

{% schema %}
{
    "name": "Text",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Some text"
        }
    ]
}
{% endschema %}