<div class="contact">
    {% unless block.logo == blank %}
    <img src="{{ block.logo | image_url }}" style="height: {{ block.logo_size }};" />
    {% endunless %}
    <p style="color:{{ block.text_color }};">{{ block.text }}</p>
</div>

{% schema %}
{
    "name": "Contact",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "range",
            "id": "logo_size",
            "label": "Logo Size",
            "default": 100,
            "min": 30,
            "max": 200,
            "step": 25
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Contact Details"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color"
        }
    ]
}
{% endschema %}