<div class="social">
    <h3>{{ block.col_header }}</h3>
    <div>
        {% for social in block %}
        {% if social[1] %}
        {% unless social[1] == blank %} 
            <a href="{{ social[1] }}" title="{{ social[0] }}" target="_blank">
                <span class="icon icon-{{ social[0] }}" style="background-color:{{ block.icon_color }};"></span>
            </a>
        {% endunless %}
        {% endif %}
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Social",
    "settings": [
        {
            "type": "text",
            "id": "col_header",
            "label": "Column Header"
        },
        {
            "type": "text",
            "id": "facebook",
            "label": "Facebook"
        },
        {
            "type": "text",
            "id": "instagram",
            "label": "Instagram"
        },
        {
            "type": "text",
            "id": "twitter",
            "label": "Twitter",
            "default": ""
        },
        {
            "type": "text",
            "id": "pinterest",
            "label": "Pinterest"
        },
        {
            "type": "text",
            "id": "linkedIn",
            "label": "LinkedIn"
        },
        {
            "type": "text",
            "id": "tumblr",
            "label": "Tumblr"
        },
        {
            "type": "color",
            "id": "icon_color",
            "label": "Icon Color",
            "default": "#333333"
        }
    ]
}
{% endschema %}